body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
}

.card-subtitle {
  font-weight: bold;
}

.card-img-top {
  cursor: pointer;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

#contact a {
  color: white;
  text-decoration: none;
}

#contact .btn {
  font-size: 1.2em;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px;
}
