body {
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
}

.card-subtitle {
  font-weight: bold;
}

.card-img-top {
  cursor: pointer;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

#contact a {
  color: white;
}
